div{
    display: flex;
    justify-content: center;
}
.sideways {
    transform: rotate(270deg);
}

body{
    background-color: antiquewhite;
}

@font-face{
    font-family: myFirstFont;
    src: url(Neon.ttf);
  }
  
  div{
    font-family: myFirstFont
  }
  
  h1{
    font-size: 300%;
    text-align: center;
    font-family: myFirstFont;
  }

  p{
    color:black;
  }

  img{
    filter: drop-shadow(10px 10px 10px 10px);
    width: 50%;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
.mask1{
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}

footer{
    text-align: center;
    border-top: 0.5px solid black;
}
